html {
    font-family: "Orbitron", Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #C3E4ED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calc {
    display: flex;
    padding: 60px 5px;
    flex-direction: column;
    width: 450px;
    background-color: black;
    border: none;
    border-radius: 25px;
}

.row {
    display: flex;
}

button {
    flex: 1;
    padding: 20px 0px;
    margin: 5px;
    font-size: 48px;
    box-sizing: border-box;
    background-color: #272727;
    color: white;
    font-family: inherit;
    border-style: none;
    border-radius: 10px;
    /* border: 1px;

    border-color: navy; */
}

.display {
    padding: 20px 10px;
    height: 125px;
    box-sizing: border-box;
    /* border: 1px;
    border-style: solid;
    border-color: navy; */
    display: flex;
    flex-direction: column;
}
.current {
    font-size: 48px;
    text-align: right;
    font-weight: 700;
    color: white;
    flex: 1;
}

.history {
    flex: 1;
    font-size: 24px;
    text-align: right;
    font-weight: 300;
    color: #818181
}

.dark, .equals{
    background-color: #3E819E;
}

.wide {
    flex: 2;
}

.thin {
    flex: 1;
}